In [3]:
import pandas as pd
import matplotlib as mlt
import plotly.express as px

data_path = "../data/ecommerce_behavior.csv"

data = pd.read_csv(data_path)

data.head()
data.drop("Unnamed: 0", axis=1, inplace=True)
data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-01-01 00:00:00 UTC,view,5809910,1602943681873052386,NaN,grattol,5.24,595414620,4adb70bb-edbd-4981-b60f-a05bfd32683a
1,2020-01-01 00:00:09 UTC,view,5812943,1487580012121948301,NaN,kinetics,3.97,595414640,c8c5205d-be43-4f1d-aa56-4828b8151c8a
2,2020-01-01 00:00:19 UTC,view,5798924,1783999068867920626,NaN,zinger,3.97,595412617,46a5010f-bd69-4fbe-a00d-bb17aa7b46f3
3,2020-01-01 00:00:24 UTC,view,5793052,1487580005754995573,NaN,NaN,4.92,420652863,546f6af3-a517-4752-a98b-80c4c5860711
4,2020-01-01 00:00:25 UTC,view,5899926,2115334439910245200,NaN,NaN,3.92,484071203,cff70ddf-529e-4b0c-a4fc-f43a749c0acb

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3851293 entries, 0 to 3851292
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: float64(1), int64(3), object(5)
memory usage: 264.4+ MB

In [5]:
data["event_time"] = pd.to_datetime(data["event_time"], format="%Y-%m-%d %H:%M:%S UTC")

data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-01-01 00:00:00,view,5809910,1602943681873052386,NaN,grattol,5.24,595414620,4adb70bb-edbd-4981-b60f-a05bfd32683a
1,2020-01-01 00:00:09,view,5812943,1487580012121948301,NaN,kinetics,3.97,595414640,c8c5205d-be43-4f1d-aa56-4828b8151c8a
2,2020-01-01 00:00:19,view,5798924,1783999068867920626,NaN,zinger,3.97,595412617,46a5010f-bd69-4fbe-a00d-bb17aa7b46f3
3,2020-01-01 00:00:24,view,5793052,1487580005754995573,NaN,NaN,4.92,420652863,546f6af3-a517-4752-a98b-80c4c5860711
4,2020-01-01 00:00:25,view,5899926,2115334439910245200,NaN,NaN,3.92,484071203,cff70ddf-529e-4b0c-a4fc-f43a749c0acb

In [6]:
data.isna()
data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-01-01 00:00:00,view,5809910,1602943681873052386,NaN,grattol,5.24,595414620,4adb70bb-edbd-4981-b60f-a05bfd32683a
1,2020-01-01 00:00:09,view,5812943,1487580012121948301,NaN,kinetics,3.97,595414640,c8c5205d-be43-4f1d-aa56-4828b8151c8a
2,2020-01-01 00:00:19,view,5798924,1783999068867920626,NaN,zinger,3.97,595412617,46a5010f-bd69-4fbe-a00d-bb17aa7b46f3
3,2020-01-01 00:00:24,view,5793052,1487580005754995573,NaN,NaN,4.92,420652863,546f6af3-a517-4752-a98b-80c4c5860711
4,2020-01-01 00:00:25,view,5899926,2115334439910245200,NaN,NaN,3.92,484071203,cff70ddf-529e-4b0c-a4fc-f43a749c0acb

In [7]:
data.drop(["category_code", "brand"], axis=1, inplace=True)
data.head()

,event_time,event_type,product_id,category_id,price,user_id,user_session
0,2020-01-01 00:00:00,view,5809910,1602943681873052386,5.24,595414620,4adb70bb-edbd-4981-b60f-a05bfd32683a
1,2020-01-01 00:00:09,view,5812943,1487580012121948301,3.97,595414640,c8c5205d-be43-4f1d-aa56-4828b8151c8a
2,2020-01-01 00:00:19,view,5798924,1783999068867920626,3.97,595412617,46a5010f-bd69-4fbe-a00d-bb17aa7b46f3
3,2020-01-01 00:00:24,view,5793052,1487580005754995573,4.92,420652863,546f6af3-a517-4752-a98b-80c4c5860711
4,2020-01-01 00:00:25,view,5899926,2115334439910245200,3.92,484071203,cff70ddf-529e-4b0c-a4fc-f43a749c0acb

In [8]:
data["date_ymd"] = data["event_time"].dt.date


data["date_ymd"] = pd.to_datetime(data["date_ymd"], format="%Y-%m-%d")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3851293 entries, 0 to 3851292
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   event_time    datetime64[ns]
 1   event_type    object
 2   product_id    int64
 3   category_id   int64
 4   price         float64
 5   user_id       int64
 6   user_session  object
 7   date_ymd      datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(3), object(2)
memory usage: 235.1+ MB

In [9]:
# DAU 일간 활성 사용자수

dau = (
    data.groupby("date_ymd")["user_id"]
    .nunique()
    .reset_index()
    .rename({"user_id": "dau"}, axis=1)
)
dau

     date_ymd    dau
0  2020-01-01  11765
1  2020-01-02  14039
2  2020-01-03  15396
3  2020-01-04  16044
4  2020-01-05  16511
5  2020-01-06  15707
6  2020-01-07  17099
7  2020-01-08  18580
8  2020-01-09  19879
9  2020-01-10  18878
10 2020-01-11  19344
11 2020-01-12  20542
12 2020-01-13  21252
13 2020-01-14  22417
14 2020-01-15  22131
15 2020-01-16  18859
16 2020-01-17  17770
17 2020-01-18  15897
18 2020-01-19  17311
19 2020-01-20  19359
20 2020-01-21  19805
21 2020-01-22  18837
22 2020-01-23  19120
23 2020-01-24  18184
24 2020-01-25  16879
25 2020-01-26  18221
26 2020-01-27  20821
27 2020-01-28  20101
28 2020-01-29  20813
29 2020-01-30  20492
30 2020-01-31  20751

In [10]:
fig = px.line(dau, x="date_ymd", y="dau", title="DAU", template="plotly_dark")
fig.show()

In [12]:
dau["days_of_week"] = dau["date_ymd"].dt.day_name()
dau["day_number"] = dau["date_ymd"].dt.day_of_week
dau.head()

    date_ymd    dau days_of_week  day_number
0 2020-01-01  11765    Wednesday           2
1 2020-01-02  14039     Thursday           3
2 2020-01-03  15396       Friday           4
3 2020-01-04  16044     Saturday           5
4 2020-01-05  16511       Sunday           6

In [13]:
avg_dau_by_dow = dau.groupby(["days_of_week", "day_number"])["dau"].mean().reset_index()
avg_dau_by_dow.sort_values("day_number", inplace=True)
avg_dau_by_dow

  days_of_week  day_number       dau
1       Monday           0  19284.75
5      Tuesday           1  19855.50
6    Wednesday           2  18425.20
4     Thursday           3  18477.80
0       Friday           4  18195.80
2     Saturday           5  17041.00
3       Sunday           6  18146.25

In [14]:
fig = px.bar(
    avg_dau_by_dow,
    x="days_of_week",
    y="dau",
    title="Average DAU by Days",
    width=700,
    height=600,
    template="plotly_dark",
)
fig.show()

In [15]:
# data.query("user_session == '4adb70bb-edbd-4981-b60f-a05bfd32683a'")["event_time"].max()
# data.query("user_session == '4adb70bb-edbd-4981-b60f-a05bfd32683a'")["event_time"].min()

data.groupby("user_session")["event_time"].aggregate(["max", "min"]).reset_index()

,user_session,max,min
0,0000061d-f3e9-484b-8c73-e54f355032a3,2020-01-16 03:30:41,2020-01-16 03:30:41
1,00000ac8-0015-4f12-996a-be2896323738,2020-01-24 22:22:20,2020-01-24 22:22:20
2,00001ca1-f2df-4572-b0b8-e752e2064aae,2020-01-01 19:09:23,2020-01-01 19:09:23
3,00002db7-16b6-4db2-bf8b-7a1cb6bd0e7f,2020-01-22 16:51:50,2020-01-22 16:51:50
4,00002f68-09b8-4db3-a092-aeff45fd13ad,2020-01-25 07:17:58,2020-01-25 07:17:58
...,...,...,...
911569,ffff7b96-9751-4eaa-806e-fe979cc00dc8,2020-01-25 11:32:02,2020-01-24 16:57:30
911570,ffff80e2-ad33-4704-9ffe-d6c612e9641f,2020-01-21 18:07:47,2020-01-21 18:07:47
911571,ffff8da3-b79a-48f2-888c-117f2d1a7793,2020-01-26 10:53:09,2020-01-26 10:53:09
911572,ffff9422-39ba-4cdf-afd1-a9d87bb3d79b,2020-01-13 09:55:09,2020-01-13 09:55:09
911573,ffffa1ef-6a9a-45cf-8150-6f781499e6e3,2020-01-16 14:50:22,2020-01-16 14:50:10

In [16]:
duration = (
    data.groupby("user_session")["event_time"].aggregate(["max", "min"]).reset_index()
)
duration

duration["duration"] = duration["max"] - duration["min"]
duration

,user_session,max,min,duration
0,0000061d-f3e9-484b-8c73-e54f355032a3,2020-01-16 03:30:41,2020-01-16 03:30:41,0 days 00:00:00
1,00000ac8-0015-4f12-996a-be2896323738,2020-01-24 22:22:20,2020-01-24 22:22:20,0 days 00:00:00
2,00001ca1-f2df-4572-b0b8-e752e2064aae,2020-01-01 19:09:23,2020-01-01 19:09:23,0 days 00:00:00
3,00002db7-16b6-4db2-bf8b-7a1cb6bd0e7f,2020-01-22 16:51:50,2020-01-22 16:51:50,0 days 00:00:00
4,00002f68-09b8-4db3-a092-aeff45fd13ad,2020-01-25 07:17:58,2020-01-25 07:17:58,0 days 00:00:00
...,...,...,...,...
911569,ffff7b96-9751-4eaa-806e-fe979cc00dc8,2020-01-25 11:32:02,2020-01-24 16:57:30,0 days 18:34:32
911570,ffff80e2-ad33-4704-9ffe-d6c612e9641f,2020-01-21 18:07:47,2020-01-21 18:07:47,0 days 00:00:00
911571,ffff8da3-b79a-48f2-888c-117f2d1a7793,2020-01-26 10:53:09,2020-01-26 10:53:09,0 days 00:00:00
911572,ffff9422-39ba-4cdf-afd1-a9d87bb3d79b,2020-01-13 09:55:09,2020-01-13 09:55:09,0 days 00:00:00
911573,ffffa1ef-6a9a-45cf-8150-6f781499e6e3,2020-01-16 14:50:22,2020-01-16 14:50:10,0 days 00:00:12

In [17]:
duration["duration"].mean()

Timedelta('0 days 00:59:16.683693260')

In [18]:
pd.pivot_table(
    data,
    index="user_session",
    columns="event_type",
    values="event_time",
    aggfunc="count",
)

event_type                            cart  purchase  remove_from_cart  view
user_session
0000061d-f3e9-484b-8c73-e54f355032a3   NaN       NaN               NaN   1.0
00000ac8-0015-4f12-996a-be2896323738   NaN       NaN               NaN   1.0
00001ca1-f2df-4572-b0b8-e752e2064aae   NaN       NaN               NaN   1.0
00002db7-16b6-4db2-bf8b-7a1cb6bd0e7f   NaN       NaN               NaN   1.0
00002f68-09b8-4db3-a092-aeff45fd13ad   NaN       NaN               NaN   1.0
...                                    ...       ...               ...   ...
ffff7b96-9751-4eaa-806e-fe979cc00dc8   1.0       NaN               2.0  10.0
ffff80e2-ad33-4704-9ffe-d6c612e9641f   NaN       NaN               NaN   1.0
ffff8da3-b79a-48f2-888c-117f2d1a7793   NaN       NaN               NaN   1.0
ffff9422-39ba-4cdf-afd1-a9d87bb3d79b   NaN       NaN               NaN   1.0
ffffa1ef-6a9a-45cf-8150-6f781499e6e3   NaN       NaN               NaN   2.0

[911574 rows x 4 columns]

In [22]:
session_pivot = (
    pd.pivot_table(
        data,
        index="user_session",
        columns="event_type",
        values="event_time",
        aggfunc="count",
    )
    .reset_index()
    .fillna(0)
)

In [ ]:
cart_session = list(session_pivot.query("cart > 0")["user_session"])
purchase_session = list(session_pivot.query("purchase > 0")["user_session"])
cart_session
purchase_session

In [27]:
duration.query(
    "user_session not in @cart_session and user_session not in @purchase_session"
)

,user_session,max,min,duration
0,0000061d-f3e9-484b-8c73-e54f355032a3,2020-01-16 03:30:41,2020-01-16 03:30:41,0 days 00:00:00
1,00000ac8-0015-4f12-996a-be2896323738,2020-01-24 22:22:20,2020-01-24 22:22:20,0 days 00:00:00
2,00001ca1-f2df-4572-b0b8-e752e2064aae,2020-01-01 19:09:23,2020-01-01 19:09:23,0 days 00:00:00
3,00002db7-16b6-4db2-bf8b-7a1cb6bd0e7f,2020-01-22 16:51:50,2020-01-22 16:51:50,0 days 00:00:00
4,00002f68-09b8-4db3-a092-aeff45fd13ad,2020-01-25 07:17:58,2020-01-25 07:17:58,0 days 00:00:00
...,...,...,...,...
911568,ffff25b6-656f-4833-a6fe-8f0f2e5975f7,2020-01-15 05:46:45,2020-01-15 05:46:45,0 days 00:00:00
911570,ffff80e2-ad33-4704-9ffe-d6c612e9641f,2020-01-21 18:07:47,2020-01-21 18:07:47,0 days 00:00:00
911571,ffff8da3-b79a-48f2-888c-117f2d1a7793,2020-01-26 10:53:09,2020-01-26 10:53:09,0 days 00:00:00
911572,ffff9422-39ba-4cdf-afd1-a9d87bb3d79b,2020-01-13 09:55:09,2020-01-13 09:55:09,0 days 00:00:00
911573,ffffa1ef-6a9a-45cf-8150-6f781499e6e3,2020-01-16 14:50:22,2020-01-16 14:50:10,0 days 00:00:12

In [28]:
# 조회만 한 유저 평균 체류시간
duration.query(
    "user_session not in @cart_session and user_session not in @purchase_session"
)["duration"].mean()

Timedelta('0 days 00:38:30.953374025')

In [33]:
avg_view_session = duration.query(
    "user_session not in @cart_session and user_session not in @purchase_session"
)["duration"].mean()
avg_cart_session = duration.query("user_session in @cart_session")["duration"].mean()
avg_purchase_session = duration.query("user_session in @purchase_session")[
    "duration"
].mean()

print(f"Average Time of Users that only viewed: {avg_view_session}")
print(f"Average Time of Users that put products into the cart: {avg_cart_session}")
print(f"Average Time of Users that actually bought the product: {avg_purchase_session}")

Average Time of Users that only viewed: 0 days 00:38:30.953374025
Average Time of Users that put products into the cart: 0 days 02:39:48.642760643
Average Time of Users that actually bought the product: 0 days 06:42:21.679333566

In [34]:
session_pivot

event_type,user_session,cart,purchase,remove_from_cart,view
0,0000061d-f3e9-484b-8c73-e54f355032a3,0.0,0.0,0.0,1.0
1,00000ac8-0015-4f12-996a-be2896323738,0.0,0.0,0.0,1.0
2,00001ca1-f2df-4572-b0b8-e752e2064aae,0.0,0.0,0.0,1.0
3,00002db7-16b6-4db2-bf8b-7a1cb6bd0e7f,0.0,0.0,0.0,1.0
4,00002f68-09b8-4db3-a092-aeff45fd13ad,0.0,0.0,0.0,1.0
...,...,...,...,...,...
911569,ffff7b96-9751-4eaa-806e-fe979cc00dc8,1.0,0.0,2.0,10.0
911570,ffff80e2-ad33-4704-9ffe-d6c612e9641f,0.0,0.0,0.0,1.0
911571,ffff8da3-b79a-48f2-888c-117f2d1a7793,0.0,0.0,0.0,1.0
911572,ffff9422-39ba-4cdf-afd1-a9d87bb3d79b,0.0,0.0,0.0,1.0
911573,ffffa1ef-6a9a-45cf-8150-6f781499e6e3,0.0,0.0,0.0,2.0