In [18]:
import pandas as pd

file = "./data/titanic_train.csv"

df = pd.read_csv(file)

df.describe()

df.mean(numeric_only=True)

df.std(numeric_only=True)
df.corr(numeric_only=True)
df.quantile(q=0.75, numeric_only=True)

PassengerId    668.5
Survived         1.0
Pclass           3.0
Age             38.0
SibSp            1.0
Parch            0.0
Fare            31.0
Name: 0.75, dtype: float64

In [ ]:
# pd.crosstab(df["Sex"],df["Survived"])

sex_list = df["Sex"]
survived_list = df["Survived"]

pd.crosstab(sex_list, survived_list, normalize="columns", margins=True)

# 그리고 index=df[], columns=df[] 로 해서 multiple 넣을수있음

Survived         0         1       All
Sex
female    0.147541  0.681287  0.352413
male      0.852459  0.318713  0.647587

In [52]:
import pandas as pd

file = "./data/titanic_train.csv"

df = pd.read_csv(file)

pd.pivot_table(
    df,
    index=["Sex", "Pclass"],
    columns=["Survived"],
    margins=True,
    values="Age",
    aggfunc="std",
)

Survived               0          1        All
Sex    Pclass
female 1       24.006943  13.223014  13.612052
       2       12.915107  12.764693  12.872702
       3       12.833465  12.303246  12.729964
male   1       14.457749  14.936744  15.139570
       2       12.158125  19.547122  14.793894
       3       12.135707  11.555786  12.159514
All            14.172110  14.950952  14.526497

In [ ]:
# Stack, Unstack, Melt