In [1]:
def cal(x, y, operator):
    if operator == "+":
        return x + y
    elif operator == "-":
        return x - y
    elif operator == "*":
        return x * y
    elif operator == "/":
        return x / y
    else:
        return "Invalid operator"


print(cal(34, 60, "+"))
print(cal(34, 60, "-"))
print(cal(34, 60, "*"))
print(cal(34, 60, "/"))

94
-26
2040
0.5666666666666667

In [2]:
score = {
    "Jonathan": 95,
    "Katie": 85,
    "Tash": 90,
    "Tiger": 75,
    "Sophie": 80,
}

score_by_rank = sorted(score.items(), key=lambda x: x[1], reverse=False)

score_by_rank

rank = 1
for key, value in score_by_rank:
    print(f"{rank} rank: {key}, score: {value}")
    rank = rank + 1

1 rank: Tiger, score: 75
2 rank: Sophie, score: 80
3 rank: Katie, score: 85
4 rank: Tash, score: 90
5 rank: Jonathan, score: 95

In [20]:
a = (("a", 1), ("b", 7), ("c", 3), ("d", -5), ("e", -9))
print(max(a, key=lambda x: x[0]))
print(max(a, key=lambda x: x[1]))

print(max(a, key=lambda x: abs(x[-1])))
print(min(a, key=lambda x: abs(x[1])))

b = list(a)
print(sorted(b, key=lambda x: x[0], reverse=True))

('e', -9)
('b', 7)
('e', -9)
('a', 1)
[('e', -9), ('d', -5), ('c', 3), ('b', 7), ('a', 1)]

In [ ]:
tup = (1, 2, 3, 4, 5)


tup2 = tuple(sorted(tup, reverse=True))
print(tup2)

list = tuple(range(2, 101, 2))
list

In [35]:
tt = [
    ("a", [1, 10, 2, 2]),
    ("b", [5, 2, 19, 2]),
    ("c", [8, 11, 91, 1]),
    ("d", [10, 56, 23, 6]),
    ("e", [38, 19, 47, 2]),
]

sorted(tt, key=lambda x: sum(x[1]) / len(x[1]), reverse=True)

[('c', [8, 11, 91, 1]),
 ('e', [38, 19, 47, 2]),
 ('d', [10, 56, 23, 6]),
 ('b', [5, 2, 19, 2]),
 ('a', [1, 10, 2, 2])]

In [14]:
import pandas as pd

list_ex = [
    "A",
    "B",
    "A",
    "C",
    "B",
    "C",
    "D",
    "D",
    "D",
    "E",
    "F",
    "F",
    "A",
    "D",
    "E",
    "G",
]

# df = pd.unique(list_ex)

set(list_ex)

orders = list(set(list_ex))
# orders.sort()

sorted(orders)

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [4]:
score_list = [70, 90, 50, 30, 100, 95, 95, 40, 90, 20, 100]

score_mean = sum(score_list) / len(score_list)
score_mean

x = 50

diff = round(abs(x - score_mean), 2)
diff

20.91

In [5]:
print(f"This student score is {x}.")
print(f"The class average is {score_mean}")

if x < 0 or x > 100:
    print("Wron value entered")
elif x > score_mean:
    print(f"Higher than average by {diff}")
elif x < score_mean:
    print(f"Lower tha the average by {diff}, this student sucks")
else:
    print("Same value as the average")

This student score is 50.
The class average is 70.9090909090909
Lower tha the average by 20.91, this student sucks